# Port configuration
PORT=3000

# CORS configuration
CORS_ORIGINS=*

# Log level
LOG_LEVEL=info

# Service URLs (novo serviço)
ASSOCIATES_SERVICE_URL=http://15.228.221.240
UNITIES_SERVICE_URL=http://15.228.221.240
MEETINGS_SERVICE_URL=http://15.228.221.240

LEGACY_UNITY_SERVICE=http://unity-ms.josecorte-dev.workers.dev

# Legacy Services URLs (serviço antigo - assembleo-backend)
LEGACY_AUTH_SERVICE=https://auth-ms.josecorte-dev.workers.dev
LEGACY_MEETING_SERVICE=https://meeting-ms.josecorte-dev.workers.dev
LEGACY_ASSOCIATE_SERVICE=https://associate-ms.josecorte-dev.workers.dev
LEGACY_UNITY_SERVICE=http://unity-ms.josecorte-dev.workers.dev

# Environment
NODE_ENV=development